<!DOCTYPE html>
<html lang="es">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Estilos.css">


<body class="d-flex flex-column align-items-center">


     <div id="BarraTop">
      <div class="d-flex flex-column align-items-center mt-2">
        <h3 style="color:white">Veterinaria del oriente</h3>
      </div>
     </div>


<div class="col-10 d-flex justify-content-center mt-2">
  <div class="container d-flex justify-content-center mt-5"
       style="background-color: var(--color-contenedor); border-radius: 5px; height: 300px; width: 400px; padding: 20px;">

       <div class="column col-10">
        <label>Email</label>
        <input style="height: 40px;" type="email" class="input-form" placeholder="...@gmail.com">
     
        <label>Contraseña</label>
          <input type="password" class="input-form" placeholder="********">


         <div id="ContenedorRegistro">
         <button  onclick="window.location.href='Homepage.html'">Iniciar Sesión</button>
        </div>
        </div>
