:root {
  --color-fondo:#dae4e7;
  --color-fondo1:#48B4DB;
  --color-contenedor: #ffffff;

  --font-titulo: "Arial", sans-serif;
  --font-subtitulo: "Arial, sans-serif";

  --color-boton: #48B4DB;
  --color-boton-hover: #5d7ad1;
}

body {
  background-color: var(--color-fondo);
  padding-top: 80px;      /* evita tocar la barra superior */
  padding-bottom: 60px;   /* evita tocar la barra inferior */
}


#BarraTop{
  width: 100%;
  height: 60px;
  position:fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: var(--color-fondo1);
  flex-direction: row;
  align-items: center;
}

#BarraBottom{
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: var(--color-fondo1);
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Caja blanca del formulario */
#ContenedorRegistro .form-container {
    width: 400px;                     /* Tamaño similar al de la imagen */
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;        /* Borde sutil como en la imagen */
}

/* Inputs normales */
input{ 
    width: 100%;
    background-color: #dcdcdc;     
    border: 1px solid #bfbfbf;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    outline: none;
}

/* Botón grande */
#ContenedorRegistro button {
    width: 100%;
    background-color: #8ad6ff;
    color: #000;
    border: none;
    padding: 12px;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#ContenedorRegistro button:hover {
    background-color: #6cc5f8;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.sec {
  background-color: var(--color-cuadros);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

 button {
    width: 120x;
    background-color: #e3e8ea;
    color: #000;
    border: none;
    padding: 12px;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #474c4f;
}